.homebutton {
    background-color: rgb(247, 0, 0);
    font-size: x-large;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-right: 5px;
    padding-left: 5px;
}

.body {
    background-color: lightgrey;
}

.midtitlesmall {
    font-size: xx-large;
    text-align: left;
    background-color: white;
    color: rgb(124, 13, 6);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: x-large;
    margin-top: 30px;
    margin-bottom: 30px;
}

.midtitles {
    font-size: large;
    text-align: left;
    background-color: white;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: xx-large;
    margin-top: 30px;
    margin-bottom: 30px;
}

.nav {
    margin-bottom: 0px;
}